Authors: Asher : 5991366, Giannis : 0960047, Joey : 6075940

Exercise 4.1 questions 6 - 9

In [ ]:
import pandas as pd
# Read in all csv
df_giannis = pd.read_csv(r'C:\Users\Asher\School\Data mining\csvs\exercise4_1_Giannis.csv', sep = ';')
df_asher = pd.read_csv(r'C:\Users\Asher\School\Data mining\csvs\exercise4_1_asher.csv', sep= ';')
df_joey = pd.read_csv(r'C:\Users\Asher\School\Data mining\csvs\exercise4_1_Joey.csv', sep= ',')

Uploading the CSV's to the submission link is redundant, and you can see a snippet of giannis' CSV. If you want to see the whole CSV's you can always request one of us

In [138]:
df_giannis.head(15)

    Column1 new_filename labeled_by  Joey  Asher  Ioannis  Evangelos
0         0      144.jpg        All   NaN    NaN      0.0        NaN
1         1      212.jpg        All   NaN    NaN      0.0        NaN
2         2      251.jpg        All   NaN    NaN      NaN        NaN
3         3      253.jpg        All   NaN    NaN      NaN        NaN
4         4      273.jpg        All   NaN    NaN      0.0        NaN
5         5      433.jpg        All   NaN    NaN      1.0        NaN
6         6      701.jpg        All   NaN    NaN      0.0        NaN
7         7      754.jpg        All   NaN    NaN      NaN        NaN
8         8      936.jpg        All   NaN    NaN      0.0        NaN
9         9     1097.jpg        All   NaN    NaN      0.0        NaN
10       10     1736.jpg        All   NaN    NaN      0.0        NaN
11       11     1786.jpg        All   NaN    NaN      0.0        NaN
12       12     1945.jpg        All   NaN    NaN      0.0        NaN
13       13    2095.jpeg        All   NaN    NaN      NaN        NaN
14       14     2349.jpg        All   NaN    NaN      2.0        NaN

In [130]:
# replace values
df_asher['Asher'].replace({'original': 0, 'adaptation': 1, 'meme': 2, 'noise': 3}, inplace = True)

In [131]:
df_joey['Joey'].replace({'original': 0, 'adaptation': 1, 'meme': 2, 'noise': 3}, inplace = True)

In [132]:
df_giannis['Ioannis'].replace({'original': 0, 'adaptation': 1, 'meme': 2, 'noise': 3}, inplace = True)

In [133]:
giannis = df_giannis.Ioannis.tolist()
asher = df_asher.Asher.tolist()
joey = df_joey.Joey.tolist()

In [134]:
asher_code = asher[:40]
giannis_code = giannis[:40]
joey_code = joey[:40]
joey_1 = [x for x in joey_code if x != 'NaN']
asher_1 = [x for x in asher_code if x != 'NaN']
giannis_1 = [x for x in giannis_code if x!= 'NaN']

In [ ]:
from  nltk  import  agreement

coder1 = giannis_1
coder2 = asher_1
coder3 = joey_1
nltk_format = lambda x, n: [[n,i,x[i]] for i in range(len(x))]

formatted = nltk_format(coder1 , 1) + nltk_format(coder2 , 2)+ nltk_format(coder3 , 3)
ratingtask = agreement.AnnotationTask(data=formatted)
print(ratingtask.multi_kappa ())

The next lines will create an array/list-like containting the result of a majority vote. Since we had too much disagreement
we decided we wanted to use this. However after this, we saw that we used different lists of images (discrepancy between mac and windows), which lead to too many NaN's. This is why we decided to use your (Joris') data in 5.1!

In [135]:
from collections import Counter
all_list = [asher_1, joey_1, giannis_1]
product = []
for i in range(40):
    votes = [joey_1[i], asher_1[i], giannis_1[i]]
    counters = Counter(votes)
    majority = counters.most_common(1)
    product.append(majority[0][0])
product

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 3.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 2.0,
 3.0,
 0.0,
 2.0,
 2.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 2.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 3.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0]